:root{
    --tor-color: #2bf883;
    --blue-color: #30ffb9;
    --white-color: #fff;
    --black-color: #000;
    --ora-color: rgb(221, 118, 0);
    --green-color: rgb(37, 120, 37);
    --gray-color: #f4f4f4;
    --transition: all .5s;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
main{
    overflow: hidden;
}
/* start header ######################### */
header{
    background-image: linear-gradient(to bottom right, var(--tor-color), var(--blue-color));
    height: 70vh;
}
header nav{
    padding: 15px 0;
}
header nav .container,
header nav .container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .container h1{
    font-size: 30px;
    font-weight: bold;
}
header nav .container h1 i{
    transform: rotate(-45deg);
    font-size: 25px;
    color: var(--ora-color);
}
header nav .container ul{
    list-style: none;
}
header nav .container ul li{
    margin: 0 15px;
}
header nav .container ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--black-color);
    border: none;
}
header nav .container ul .btn{
    border: none;
}
header nav .container ul .active, 
header nav .container ul .btn:hover{
    color: var(--ora-color);
    border: none;
}
.menu-bar{
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--ora-color);
}
.offcanvas .offcanvas-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.offcanvas .offcanvas-body h1{
    color: var(--ora-color);
}
.offcanvas .offcanvas-body ul{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    list-style: none;
    margin-top: 90px;
    padding: 0;
}
.offcanvas .offcanvas-body ul li{
    margin: 40px 0;
    text-align: center;
}
.offcanvas .offcanvas-body ul li a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    header nav .container ul{
        display: none;
    }

    .menu-bar{
        display: block;
    }
    
}
@media only screen and (min-width: 600px) {
    header nav .container ul{
        display: none;
    }

    .menu-bar{
        display: block;
    }
}
@media only screen and (min-width: 768px) {
    header nav .container ul{
        display: none;
    }

    .menu-bar{
        display: block;
    }
}
@media only screen and (min-width: 992px) {
    header nav .container ul{
        display: flex;
    }

    .menu-bar{
        display: none;
    }
}
/* start landing ####################### */
.landing{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.landing .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .container .box{
    width: 50%;
    margin: 0 50px;
}
.landing .container .box h2{
    font-weight: bold;
    font-size: 60px;
}
.landing .container .box h3{
    font-weight: normal;
    font-size: 50px;
}
.landing .container .box p{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
}
.landing .container .box .btn{
    font-size: 18px;
    background-color: var(--ora-color);
    color: var(--white-color);
    border-radius: 30px;
    margin: 30px 0;
    padding: 10px 15px;
    transition: var(--transition);
    border: none;
}
.landing .container .box .btn:hover{
    background-color: var(--green-color);
    border: none;
}
.landing .container .box img{
    width: 100%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
@media only screen and (max-width: 600px) {
    .landing{
        top: 20%;
        transform: translate(-50%, -0%);
    }
    .landing .container{
        flex-direction: column;
    }
    .landing .container .box{
        width: 100%;
        margin: 0 0px;
    }
}
@media only screen and (min-width: 600px) {
    .landing{
        top: 20%;
        transform: translate(-50%, -0%);
    }
    .landing .container{
        flex-direction: column;
    }
    .landing .container .box{
        width: 100%;
        margin: 0 0px;
    }
}
@media only screen and (min-width: 768px) {
    .landing{
        top: 30%;
        transform: translate(-50%, -0%);
    }
    .landing .container{
        flex-direction: column;
    }
    .landing .container .box{
        width: 100%;
        margin: 0 0px;
    }
}
@media only screen and (min-width: 992px){
    .landing{
        top: 40%;
        transform: translate(-50%, -50%);
    }
    .landing .container{
        flex-direction: row;
    }
    .landing .container .box{
        width: 50%;
        margin: 0 30px;
    }
}
/* end landing ####################### */
/* end header ####################### */

/* start contain ########################## */
.h2{
    color:var(--black-color)
}
.contain {
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.contain .box {
    padding:30px 20px;
    width: 40%;
    background-color: var(--green-color);
    height: 100%;
}

.contain .box h2 {
    font-size: 20px;
    color: var(--white-color);
}

.contain .box p {
    font-size: 18px;
    color: var(--white-color);
}

.contain .box .box-link .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contain .box .box-link .box i {
    font-size: 18px;
    padding: 10px 15px;
    color: var(--white-color);
    width: 50px;
    height: 50px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    vertical-align: center;
    margin-right: 20px;
}

.contain .box .box-link .box h3 {
    font-size: 16px;
    color: var(--white-color);
}

.contain form {
    padding: 36px;
    height: 100%;
    width: 60%;
    background-color:#fff;
}

.contain form fieldset {
    border: 0;
    margin: 10px 0;
}

.contain form .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.contain form .content fieldset {
    width: 49%;
    margin: 25px 0;
}

.contain form .content fieldset input {
    outline: none;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.contain form fieldset {
    width: 100%;
}

.contain form fieldset select {
    padding: 5px;
    outline: none;
    margin-bottom: 20px;
}

.contain form fieldset select,
.contain form fieldset textarea {
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.contain form fieldset textarea {
    border: 1px solid rgb(201, 201, 201);
    padding: 10px;
    outline: none;
}

form input::placeholder,
form select {
    color: rgb(201, 201, 201);
    font-size: 16px;
}

form button {
    padding: 5px 20px;
    font-size: 20px;
    outline: none;
    background-color: var(--green-color);
    border: 0;
    border-radius: 3px;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .contain {
        flex-direction: column;
        height: auto;
    }

    .contain .box {
        width: 100%;
        height: 100%;
    }
    .contain form {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .contain {
        flex-direction: column;
        height: auto;
    }

    .contain .box {
        width: 100%;
        height: 100%;
    }

    .contain form {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .contain {
        flex-direction: row;
    }

    .contain .box {
        width: 40%;
        height: 100%;
    }

    .contain form {
        width: 60%;
        height: 100%;
    }
}
/* end contain ########################## */

/* start iframe #################### */
.iframe{
    padding: 70px 0;
}
/* end iframe #################### */


/* start footer ####################### */
footer {
    padding: 70px 0 20px;
    background-color: #19211e;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .container h2{
    color: #fff;
}
footer .container .box h3{
    color: #fff;
}

footer .container .box {
    width: 350px;
    color: var(--white-color);
}

footer .container .box h2::first-letter {
    font-size: 35px;
    color: var(--ora-color);
}

footer .container .box p,
footer .container .box ul li {
    margin-top: 20px;
    color: var(--gray-color);
}

footer .container .box p:hover,
footer .container .box ul li:hover {
    color: var(--green-color);
}

footer .end {
    margin-top: 70px;
    color: var(--gray-color);
}

@media only screen and (max-width: 600px) {
    footer .container {
        flex-direction: column;
    }

    footer .container .box {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 600px) {
    footer .container {
        flex-direction: column;
    }

    footer .container .box {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) {
    footer .container {
        flex-direction: column;
    }

    footer .container .box {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 992px) {
    footer .container {
        flex-direction: row;
    }

    footer .container .box {
        width: 350px;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    footer .container {
        flex-direction: row;
    }

    footer .container .box {
        width: 350px;
        margin-bottom: 0px;
    }
}

/* end footer ####################### */

